@media (max-width:768px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .style11,
  .style13,
  .style41 {
    display: flex;
    flex-direction: column
  }
  .style11 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrzic5pw.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 0;
    margin-top: 0;
    width: 375px;
    align-items: stretch;
    height: 431px
  }
  .style13,
  .style41 {
    height: 262px
  }
  .style13 {
    align-items: stretch
  }
  .style41 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px
  }
  .image3container8container19row0 {
    display: flex;
    margin-left: 221px;
    margin-top: 5px;
    width: 121px;
    height: 12px
  }
  .style70 {
    margin-left: 0;
    width: 12px;
    height: 100%;
    align-self: stretch
  }
  .style49,
  .style50 {
    background-color: #828999;
    margin-left: 51px;
    width: 6px;
    height: 5px;
    align-self: center
  }
  .style49 {
    margin-left: 2px
  }
  .style47 {
    background-color: #f98700;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    display: flex;
    margin-left: 5px;
    margin-top: 2px;
    width: 5px;
    height: 4px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style48 {
    color: #fff;
    font-family: 'Source Sans Pro',serif;
    font-size: .1875em;
    font-weight: 300;
    height: 2px
  }
  .style44 {
    background-color: #4a4d54;
    position: relative;
    margin-left: 87px;
    width: 5px;
    height: 5px;
    align-self: center
  }
  .style43 {
    background-color: #828999;
    margin-left: 11px;
    width: 4px;
    height: 4px;
    align-self: center
  }
  .style42 {
    color: #828999;
    font-family: 'Source Sans Pro',serif;
    font-size: .25em;
    margin-left: 3px;
    height: 3px;
    align-self: center
  }
  .style45 {
    background-color: #f98700;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    display: flex;
    margin-left: 311px;
    margin-top: 7px;
    width: 4px;
    height: 4px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style46 {
    color: #fff;
    font-family: 'Source Sans Pro',serif;
    font-size: .1875em;
    font-weight: 300;
    height: 2px
  }
  .image3container8container19row2 {
    display: flex;
    margin-left: 13px;
    margin-top: 17px;
    width: 321px;
    height: 18px
  }
  .style67 {
    margin-left: 0;
    width: 8px;
    height: 11px
  }
  .style51 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrzic9ik.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 24px;
    width: 19px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style66 {
    width: 8px;
    height: 13px
  }
  .style75 {
    color: #4a4d54;
    font-family: tahoma,serif;
    font-size: .3125em;
    margin-left: 4px;
    height: 4px
  }
  .style52 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrzic9vo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 143px;
    width: 18px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style59 {
    width: 13px;
    height: 10px
  }
  .style76 {
    color: #4a4d54;
    font-family: tahoma,serif;
    font-size: .3125em;
    margin-left: 5px;
    height: 4px
  }
  .style53 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrzica82.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 254px;
    width: 18px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style83 {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    width: 11px;
    height: 11px
  }
  .style77 {
    color: #4a4d54;
    font-family: tahoma,serif;
    font-size: .3125em;
    margin-left: 4px;
    height: 5px
  }
  .image3container8container19row3 {
    display: flex;
    margin-left: 11px;
    margin-top: 9px;
    width: 287px;
    height: 19px
  }
  .style60 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrziccpy.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    margin-top: 1px;
    width: 11px;
    align-items: stretch;
    flex-direction: column
  }
  .style60,
  .style61 {
    height: 9px
  }
  .style54 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrzicale.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 22px;
    width: 19px;
    height: 100%;
    align-items: center;
    align-self: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style62 {
    width: 10px;
    height: 12px
  }
  .style78 {
    color: #4a4d54;
    font-family: tahoma,serif;
    font-size: .3125em;
    margin-left: 4px;
    height: 4px
  }
  .style64 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrzice5n.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 144px;
    width: 18px;
    height: 100%;
    align-items: center;
    align-self: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style68 {
    width: 14px;
    height: 12px
  }
  .style81 {
    color: #4a4d54;
    font-family: tahoma,serif;
    font-size: .3125em;
    margin-left: 5px;
    height: 5px
  }
  .style65 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrzicei6.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 255px;
    width: 18px;
    height: 100%;
    align-items: center;
    align-self: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style71 {
    width: 9px;
    height: 12px
  }
  .style82 {
    color: #4a4d54;
    font-family: tahoma,serif;
    font-size: .3125em;
    margin-left: 4px;
    height: 5px
  }
  .image3container8container19row4 {
    position: relative;
    display: flex;
    margin-left: 11px;
    margin-top: 6px;
    width: 205px;
    height: 18px
  }
  .style55,
  .style84 {
    margin-left: 0;
    width: 11px;
    height: 11px;
    flex-shrink: 0
  }
  .style55 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrzicay1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    display: flex;
    margin-left: 34px;
    margin-top: 3px;
    width: 19px;
    height: 18px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style57 {
    width: 13px;
    height: 12px
  }
  .style56,
  .style79 {
    margin-top: 3px;
    flex-shrink: 0
  }
  .style79 {
    color: #4a4d54;
    font-family: tahoma,serif;
    font-size: .3125em;
    margin-left: 4px;
    height: 4px
  }
  .style56 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrzicbav.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    display: flex;
    margin-left: 145px;
    width: 18px;
    height: 18px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style73 {
    width: 13px;
    height: 13px
  }
  .style80 {
    color: #4a4d54;
    font-family: tahoma,serif;
    font-size: .3125em;
    margin-left: 5px;
    margin-top: 3px;
    height: 5px;
    flex-shrink: 0
  }
  .style63 {
    margin-left: 13px;
    margin-top: 11px;
    width: 8px;
    height: 10px
  }
  .style69,
  .style72 {
    margin-left: 11px;
    margin-top: 17px;
    width: 12px;
    height: 10px
  }
  .style72 {
    margin-left: 14px;
    width: 6px;
    height: 9px
  }
  .style58,
  .style74 {
    margin-left: 12px;
    margin-top: 18px;
    width: 10px;
    height: 9px
  }
  .style74 {
    margin-top: 19px;
    width: 9px
  }
}
@media (min-width:768px) and (max-width:920px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .style11,
  .style13,
  .style41 {
    display: flex;
    flex-direction: column
  }
  .style11 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrzic5pw.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 0;
    margin-top: 0;
    width: 768px;
    align-items: stretch;
    height: 883px
  }
  .style13,
  .style41 {
    height: 537px
  }
  .style13 {
    align-items: stretch
  }
  .style41 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px
  }
  .image3container8container19row0 {
    display: flex;
    margin-left: 453px;
    margin-top: 10px;
    width: 248px;
    height: 25px
  }
  .style70 {
    margin-left: 0;
    width: 25px;
    height: 100%;
    align-self: stretch
  }
  .style49,
  .style50 {
    background-color: #828999;
    margin-left: 104px;
    width: 12px;
    height: 10px;
    align-self: center
  }
  .style49 {
    margin-left: 4px
  }
  .style47 {
    background-color: #f98700;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    display: flex;
    margin-left: 10px;
    margin-top: 4px;
    width: 10px;
    height: 8px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style48 {
    color: #fff;
    font-family: 'Source Sans Pro',serif;
    font-size: .384em;
    font-weight: 300;
    height: 4px
  }
  .style44 {
    background-color: #4a4d54;
    position: relative;
    margin-left: 178px;
    width: 10px;
    height: 10px;
    align-self: center
  }
  .style43 {
    background-color: #828999;
    margin-left: 23px;
    width: 8px;
    height: 8px;
    align-self: center
  }
  .style42 {
    color: #828999;
    font-family: 'Source Sans Pro',serif;
    font-size: .512em;
    margin-left: 6px;
    height: 6px;
    align-self: center
  }
  .style45 {
    background-color: #f98700;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    display: flex;
    margin-left: 637px;
    margin-top: 14px;
    width: 8px;
    height: 8px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style46 {
    color: #fff;
    font-family: 'Source Sans Pro',serif;
    font-size: .384em;
    font-weight: 300;
    height: 4px
  }
  .image3container8container19row2 {
    display: flex;
    margin-left: 27px;
    margin-top: 35px;
    width: 657px;
    height: 37px
  }
  .style67 {
    margin-left: 0;
    width: 16px;
    height: 23px
  }
  .style51 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrzic9ik.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 49px;
    width: 39px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style66 {
    width: 16px;
    height: 27px
  }
  .style75 {
    color: #4a4d54;
    font-family: tahoma,serif;
    font-size: .64em;
    margin-left: 8px;
    height: 8px
  }
  .style52 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrzic9vo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 293px;
    width: 37px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style59 {
    width: 27px;
    height: 20px
  }
  .style76 {
    color: #4a4d54;
    font-family: tahoma,serif;
    font-size: .64em;
    margin-left: 10px;
    height: 8px
  }
  .style53 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrzica82.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 520px;
    width: 37px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style83 {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    width: 23px;
    height: 23px
  }
  .style77 {
    color: #4a4d54;
    font-family: tahoma,serif;
    font-size: .64em;
    margin-left: 8px;
    height: 10px
  }
  .image3container8container19row3 {
    display: flex;
    margin-left: 23px;
    margin-top: 18px;
    width: 588px;
    height: 39px
  }
  .style60 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrziccpy.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    margin-top: 2px;
    width: 23px;
    align-items: stretch;
    flex-direction: column
  }
  .style60,
  .style61 {
    height: 18px
  }
  .style54 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrzicale.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 45px;
    width: 39px;
    height: 100%;
    align-items: center;
    align-self: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style62 {
    width: 20px;
    height: 25px
  }
  .style78 {
    color: #4a4d54;
    font-family: tahoma,serif;
    font-size: .64em;
    margin-left: 8px;
    height: 8px
  }
  .style64 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrzice5n.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 295px;
    width: 37px;
    height: 100%;
    align-items: center;
    align-self: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style68 {
    width: 29px;
    height: 25px
  }
  .style81 {
    color: #4a4d54;
    font-family: tahoma,serif;
    font-size: .64em;
    margin-left: 10px;
    height: 10px
  }
  .style65 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrzicei6.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 522px;
    width: 37px;
    height: 100%;
    align-items: center;
    align-self: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style71 {
    width: 18px;
    height: 25px
  }
  .style82 {
    color: #4a4d54;
    font-family: tahoma,serif;
    font-size: .64em;
    margin-left: 8px;
    height: 10px
  }
  .image3container8container19row4 {
    position: relative;
    display: flex;
    margin-left: 23px;
    margin-top: 12px;
    width: 420px;
    height: 37px
  }
  .style55,
  .style84 {
    margin-left: 0;
    width: 23px;
    height: 23px;
    flex-shrink: 0
  }
  .style55 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrzicay1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    display: flex;
    margin-left: 70px;
    margin-top: 6px;
    width: 39px;
    height: 37px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style57 {
    width: 27px;
    height: 25px
  }
  .style56,
  .style79 {
    margin-top: 6px;
    flex-shrink: 0
  }
  .style79 {
    color: #4a4d54;
    font-family: tahoma,serif;
    font-size: .64em;
    margin-left: 8px;
    height: 8px
  }
  .style56 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrzicbav.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    display: flex;
    margin-left: 297px;
    width: 37px;
    height: 37px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style73 {
    width: 27px;
    height: 27px
  }
  .style80 {
    color: #4a4d54;
    font-family: tahoma,serif;
    font-size: .64em;
    margin-left: 10px;
    margin-top: 6px;
    height: 10px;
    flex-shrink: 0
  }
  .style63 {
    margin-left: 27px;
    margin-top: 23px;
    width: 16px;
    height: 20px
  }
  .style69,
  .style72 {
    margin-left: 23px;
    margin-top: 35px;
    width: 25px;
    height: 20px
  }
  .style72 {
    margin-left: 29px;
    width: 12px;
    height: 18px
  }
  .style58,
  .style74 {
    margin-left: 25px;
    margin-top: 37px;
    width: 20px;
    height: 18px
  }
  .style74 {
    margin-top: 39px;
    width: 18px
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .style11,
  .style13,
  .style41 {
    display: flex;
    flex-direction: column
  }
  .style11 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrzic5pw.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 0;
    margin-top: 0;
    width: 920px;
    align-items: stretch;
    height: 1057px
  }
  .style13,
  .style41 {
    height: 643px
  }
  .style13 {
    align-items: stretch
  }
  .style41 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px
  }
  .image3container8container19row0 {
    display: flex;
    margin-left: 542px;
    margin-top: 12px;
    width: 297px;
    height: 29px
  }
  .style70 {
    margin-left: 0;
    width: 29px;
    height: 100%;
    align-self: stretch
  }
  .style49,
  .style50 {
    background-color: #828999;
    margin-left: 125px;
    width: 15px;
    height: 12px;
    align-self: center
  }
  .style49 {
    margin-left: 5px
  }
  .style47 {
    background-color: #f98700;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    display: flex;
    margin-left: 12px;
    margin-top: 5px;
    width: 12px;
    height: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style48 {
    color: #fff;
    font-family: 'Source Sans Pro',serif;
    font-size: .45999999999999996em;
    font-weight: 300;
    height: 5px
  }
  .style44 {
    background-color: #4a4d54;
    position: relative;
    margin-left: 213px;
    width: 12px;
    height: 12px;
    align-self: center
  }
  .style43 {
    background-color: #828999;
    margin-left: 27px;
    width: 10px;
    height: 10px;
    align-self: center
  }
  .style42 {
    color: #828999;
    font-family: 'Source Sans Pro',serif;
    font-size: .6133333333333333em;
    margin-left: 7px;
    height: 7px;
    align-self: center
  }
  .style45 {
    background-color: #f98700;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    display: flex;
    margin-left: 763px;
    margin-top: 17px;
    width: 10px;
    height: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style46 {
    color: #fff;
    font-family: 'Source Sans Pro',serif;
    font-size: .45999999999999996em;
    font-weight: 300;
    height: 5px
  }
  .image3container8container19row2 {
    display: flex;
    margin-left: 32px;
    margin-top: 42px;
    width: 788px;
    height: 44px
  }
  .style67 {
    margin-left: 0;
    width: 20px;
    height: 27px
  }
  .style51 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrzic9ik.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 59px;
    width: 47px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style66 {
    width: 20px;
    height: 32px
  }
  .style75 {
    color: #4a4d54;
    font-family: tahoma,serif;
    font-size: .7666666666666666em;
    margin-left: 10px;
    height: 10px
  }
  .style52 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrzic9vo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 351px;
    width: 44px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style59 {
    width: 32px;
    height: 25px
  }
  .style76 {
    color: #4a4d54;
    font-family: tahoma,serif;
    font-size: .7666666666666666em;
    margin-left: 12px;
    height: 10px
  }
  .style53 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrzica82.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 623px;
    width: 44px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style83 {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    width: 27px;
    height: 27px
  }
  .style77 {
    color: #4a4d54;
    font-family: tahoma,serif;
    font-size: .7666666666666666em;
    margin-left: 10px;
    height: 12px
  }
  .image3container8container19row3 {
    display: flex;
    margin-left: 27px;
    margin-top: 22px;
    width: 704px;
    height: 47px
  }
  .style60 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrziccpy.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    margin-top: 2px;
    width: 27px;
    align-items: stretch;
    flex-direction: column
  }
  .style60,
  .style61 {
    height: 22px
  }
  .style54 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrzicale.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 54px;
    width: 47px;
    height: 100%;
    align-items: center;
    align-self: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style62 {
    width: 25px;
    height: 29px
  }
  .style78 {
    color: #4a4d54;
    font-family: tahoma,serif;
    font-size: .7666666666666666em;
    margin-left: 10px;
    height: 10px
  }
  .style64 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrzice5n.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 353px;
    width: 44px;
    height: 100%;
    align-items: center;
    align-self: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style68 {
    width: 34px;
    height: 29px
  }
  .style81 {
    color: #4a4d54;
    font-family: tahoma,serif;
    font-size: .7666666666666666em;
    margin-left: 12px;
    height: 12px
  }
  .style65 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrzicei6.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 626px;
    width: 44px;
    height: 100%;
    align-items: center;
    align-self: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style71 {
    width: 22px;
    height: 29px
  }
  .style82 {
    color: #4a4d54;
    font-family: tahoma,serif;
    font-size: .7666666666666666em;
    margin-left: 10px;
    height: 12px
  }
  .image3container8container19row4 {
    position: relative;
    display: flex;
    margin-left: 27px;
    margin-top: 15px;
    width: 503px;
    height: 44px
  }
  .style55,
  .style84 {
    margin-left: 0;
    width: 27px;
    height: 27px;
    flex-shrink: 0
  }
  .style55 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrzicay1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    display: flex;
    margin-left: 83px;
    margin-top: 7px;
    width: 47px;
    height: 44px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style57 {
    width: 32px;
    height: 29px
  }
  .style56,
  .style79 {
    margin-top: 7px;
    flex-shrink: 0
  }
  .style79 {
    color: #4a4d54;
    font-family: tahoma,serif;
    font-size: .7666666666666666em;
    margin-left: 10px;
    height: 10px
  }
  .style56 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrzicbav.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    display: flex;
    margin-left: 356px;
    width: 44px;
    height: 44px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style73 {
    width: 32px;
    height: 32px
  }
  .style80 {
    color: #4a4d54;
    font-family: tahoma,serif;
    font-size: .7666666666666666em;
    margin-left: 12px;
    margin-top: 7px;
    height: 12px;
    flex-shrink: 0
  }
  .style63 {
    margin-left: 32px;
    margin-top: 27px;
    width: 20px;
    height: 25px
  }
  .style69,
  .style72 {
    margin-left: 27px;
    margin-top: 42px;
    width: 29px;
    height: 25px
  }
  .style72 {
    margin-left: 34px;
    width: 15px;
    height: 22px
  }
  .style58,
  .style74 {
    margin-left: 29px;
    margin-top: 44px;
    width: 25px;
    height: 22px
  }
  .style74 {
    margin-top: 47px;
    width: 22px
  }
}
@media (min-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .style11,
  .style13,
  .style41 {
    display: flex;
    flex-direction: column
  }
  .style11 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrzic5pw.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 0;
    margin-top: 0;
    width: 1200px;
    align-items: stretch;
    height: 1379px
  }
  .style13,
  .style41 {
    height: 838px
  }
  .style13 {
    align-items: stretch
  }
  .style41 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px
  }
  .image3container8container19row0 {
    display: flex;
    margin-left: 707px;
    margin-top: 16px;
    width: 387px;
    height: 38px
  }
  .style70 {
    margin-left: 0;
    width: 38px;
    height: 100%;
    align-self: stretch
  }
  .style49,
  .style50 {
    background-color: #828999;
    margin-left: 163px;
    width: 19px;
    height: 16px;
    align-self: center
  }
  .style49 {
    margin-left: 6px
  }
  .style47 {
    background-color: #f98700;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    display: flex;
    margin-left: 16px;
    margin-top: 6px;
    width: 16px;
    height: 13px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style48 {
    color: #fff;
    font-family: 'Source Sans Pro',serif;
    font-size: .6000000000000001em;
    font-weight: 300;
    height: 6px
  }
  .style44 {
    background-color: #4a4d54;
    position: relative;
    margin-left: 278px;
    width: 16px;
    height: 16px;
    align-self: center
  }
  .style43 {
    background-color: #828999;
    margin-left: 35px;
    width: 13px;
    height: 13px;
    align-self: center
  }
  .style42 {
    color: #828999;
    font-family: 'Source Sans Pro',serif;
    font-size: .8em;
    margin-left: 10px;
    height: 10px;
    align-self: center
  }
  .style45 {
    background-color: #f98700;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    display: flex;
    margin-left: 995px;
    margin-top: 22px;
    width: 13px;
    height: 13px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style46 {
    color: #fff;
    font-family: 'Source Sans Pro',serif;
    font-size: .6000000000000001em;
    font-weight: 300;
    height: 6px
  }
  .image3container8container19row2 {
    display: flex;
    margin-left: 42px;
    margin-top: 54px;
    width: 1027px;
    height: 58px
  }
  .style67 {
    margin-left: 0;
    width: 26px;
    height: 35px
  }
  .style51 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrzic9ik.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 77px;
    width: 61px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style66 {
    width: 26px;
    height: 42px
  }
  .style75 {
    color: #4a4d54;
    font-family: tahoma,serif;
    font-size: 1em;
    margin-left: 13px;
    height: 13px
  }
  .style52 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrzic9vo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 458px;
    width: 58px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style59 {
    width: 42px;
    height: 32px
  }
  .style76 {
    color: #4a4d54;
    font-family: tahoma,serif;
    font-size: 1em;
    margin-left: 16px;
    height: 13px
  }
  .style53 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrzica82.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 813px;
    width: 58px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style83 {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    width: 35px;
    height: 35px
  }
  .style77 {
    color: #4a4d54;
    font-family: tahoma,serif;
    font-size: 1em;
    margin-left: 13px;
    height: 16px
  }
  .image3container8container19row3 {
    display: flex;
    margin-left: 35px;
    margin-top: 29px;
    width: 918px;
    height: 61px
  }
  .style60 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrziccpy.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    margin-top: 3px;
    width: 35px;
    align-items: stretch;
    flex-direction: column
  }
  .style60,
  .style61 {
    height: 29px
  }
  .style54 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrzicale.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 70px;
    width: 61px;
    height: 100%;
    align-items: center;
    align-self: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style62 {
    width: 32px;
    height: 38px
  }
  .style78 {
    color: #4a4d54;
    font-family: tahoma,serif;
    font-size: 1em;
    margin-left: 13px;
    height: 13px
  }
  .style64 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrzice5n.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 461px;
    width: 58px;
    height: 100%;
    align-items: center;
    align-self: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style68 {
    width: 45px;
    height: 38px
  }
  .style81 {
    color: #4a4d54;
    font-family: tahoma,serif;
    font-size: 1em;
    margin-left: 16px;
    height: 16px
  }
  .style65 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrzicei6.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 816px;
    width: 58px;
    height: 100%;
    align-items: center;
    align-self: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style71 {
    width: 29px;
    height: 38px
  }
  .style82 {
    color: #4a4d54;
    font-family: tahoma,serif;
    font-size: 1em;
    margin-left: 13px;
    height: 16px
  }
  .image3container8container19row4 {
    position: relative;
    display: flex;
    margin-left: 35px;
    margin-top: 19px;
    width: 656px;
    height: 58px
  }
  .style55,
  .style84 {
    margin-left: 0;
    width: 35px;
    height: 35px;
    flex-shrink: 0
  }
  .style55 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrzicay1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    display: flex;
    margin-left: 109px;
    margin-top: 10px;
    width: 61px;
    height: 58px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style57 {
    width: 42px;
    height: 38px
  }
  .style56,
  .style79 {
    margin-top: 10px;
    flex-shrink: 0
  }
  .style79 {
    color: #4a4d54;
    font-family: tahoma,serif;
    font-size: 1em;
    margin-left: 13px;
    height: 13px
  }
  .style56 {
    background-image: url(https://designresources.assets.yotako.io/yjqrub0jrzicbav.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    display: flex;
    margin-left: 464px;
    width: 58px;
    height: 58px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style73 {
    width: 42px;
    height: 42px
  }
  .style80 {
    color: #4a4d54;
    font-family: tahoma,serif;
    font-size: 1em;
    margin-left: 16px;
    margin-top: 10px;
    height: 16px;
    flex-shrink: 0
  }
  .style63 {
    margin-left: 42px;
    margin-top: 35px;
    width: 26px;
    height: 32px
  }
  .style69,
  .style72 {
    margin-left: 35px;
    margin-top: 54px;
    width: 38px;
    height: 32px
  }
  .style72 {
    margin-left: 45px;
    width: 19px;
    height: 29px
  }
  .style58,
  .style74 {
    margin-left: 38px;
    margin-top: 58px;
    width: 32px;
    height: 29px
  }
  .style74 {
    margin-top: 61px;
    width: 29px
  }
}